<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
 <typeAliases>
  	<typeAlias type="com.kh.market.notice.model.vo.Notice" alias="notice"/>
  	<typeAlias type="com.kh.market.member.model.vo.Member" alias="member"/>
  	<typeAlias type="com.kh.market.review.model.vo.Review" alias="review"/>
  	<typeAlias type="com.kh.market.message.model.vo.Message" alias="message"/>
  	<typeAlias type="com.kh.market.common.typehandler.StringArrayTypeHandler"
  			   alias="strArrTypeHandler"/>
  </typeAliases>
</configuration>