<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<select id="productList" resultType="product">
		select *
		from(select rownum as rnum, a.* from (select * from sell where sell_deltype in 'N' order by sell_no desc) a) rownumsell
		where rnum between 1 and 8
	
	
	</select>
	<insert id="productRegistration" parameterType="product">
	insert into sell values(seq_product_no.nextval, 
							#{sellTitle}, 
							#{sellWriter}, 
							default, 
							#{sellContent}, 
							default, 
							#{sellPrice}, 
							default, 
							default, 
							default, 
							default,
							#{sellAddress})
		<selectKey keyProperty="sellNo" resultType="_int" order="AFTER">
			select seq_product_no.currval from dual
		</selectKey>
	
	</insert>
	<select id="productView" resultType="product">
		select * 
		from sell 
		where sell_no= #{productNo}
	
	
	</select>
	
	<update id="updateProduct" parameterType="product">
		update sell set 
		sell_title = #{sellTitle}, 
		sell_content = #{sellContent}, 
		sell_price = #{sellPrice}
		where sell_no = #{sellNo} 
	
	
	</update>
	
	<update id="productDelete" parameterType="product">
		update sell set 
		sell_deldate = sysdate,
		sell_deltype = 'Y'
		where sell_no = #{productNo}
	
	</update>
	
	<select id="productSearch" resultType="product" parameterType="String">
		select * 
		from sell 
		where sell_deltype in ('N') and (sell_title like '%'||#{searchWord}||'%' or sell_address like '%'||#{searchWord}||'%')
		order by sell_no desc
	</select>
	
	<select id="memberSellView" resultType="product">
		select A.*,
		(select count(*) from sell 
		where sell_no=A.sell_no) filecount
		from sell A where sell_writer=#{memberId} order by sell_no desc
	</select>
	<select id="memberSellDetailView" resultType="product">
		select * from sell where sell_no=#{sellNo}
	</select>
	<update id="sellComplete">
		update sell set sell_state='soldout' where sell_no=#{sellNo}
	</update>
	<select id="memberBuyView" resultType="product">
		select * from sell where sell_buyer=#{memberId}
	</select>

	<insert id="insertImg" parameterType="productAttch">
		insert into attachment values(SEQ_ATTACHMENT_NO.nextval,
									 'S',
									  #{boardNo},
									  #{originalfileName},
									  #{renamedfileName},
									  sysdate,
									  default,
									  #{attachmentMainImage}									  
									  )
	
	
	</insert>
	
	<select id="attachList" resultType="productAttch">
		select * from attachment where board_name = 'S' and attachment_main_image = 'Y'
	
	</select>
	
	<select id="attachSelectOne" resultType="productAttch">
		select * from attachment where board_no = #{productNo}
	</select>
	
	<select id="memberSellSize" resultType="product">
		select * from sell where sell_writer=#{memberId}
	</select>
	 <select id="moreResult" resultType="product" parameterType="page">
        select *
        from(select rownum as rnum, a.* from (select * from sell where sell_deltype in 'N' order by sell_no desc) a) rownumsell
        where rnum between #{startCount} and #{endCount}
    </select>
	
	
</mapper>
