<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction">
	
	<select id="auctionList" resultType="auctionForList">
		select * from
		(select board_no, board_name, originalfile_name, renamedfile_name, attachment_main_image
		from attachment)a join auction b on a.board_no = b.auction_no
	</select>
	
	<select id="mainImage" resultType="attachment">
		select * 
    	from attachment
    	order by attachment_no asc
	</select>
	
	<select id="auctionSelectOne" resultType="auctionForList">
		select * from
			(select board_no, board_name, originalfile_name, renamedfile_name, attachment_main_image
			from attachment)a join auction b on a.board_no = b.auction_no
		where b.auction_no = #{auctionNo}
	</select>
	
	<select id="selectBoardNo" resultType="_int">
		select * from
		(select auction_no from auction order by auction_no desc)
		where rownum = 1
	</select>
	
	<insert id="insertAuction">
			insert into auction(auction_no, auction_title, auction_writer, auction_buyer, auction_price, auction_unit_price,
								auction_direct_price, auction_content, auction_readcount, auction_date, auction_end_Date,
								auction_category, auction_type, auction_deldate, auction_deltype, auction_address)
				values(seq_auction_no.nextval, #{auctionTitle}, #{auctionWriter}, default, #{auctionPrice}, #{auctionUnitPrice},
						#{auctionDirectPrice}, #{auctionContent}, default, default, #{auctionEndDate},
						#{auctionCategory}, default, default, default, #{auctionAddress})
		
	</insert>
	
	<insert id="insertAttachment">
		insert into attachment
				(attachment_no, board_name, board_no, originalfile_name, renamedfile_name, attachment_date, attachment_deltype, attachment_main_image)
			values(seq_attachment_no.nextval, #{boardName}, #{boardNo}, #{originalfileName}, #{renamedfileName}, default, 'N', #{attachmentMainImage})
	</insert>

	<select id="productSearch" resultType="auction" parameterType="String">
		select * 
		from auction 
		where auction_deltype in ('N') and (auction_title like '%'||#{searchWord}||'%' or auction_address like '%'||#{searchWord}||'%')
		order by auction_no desc
	</select>
	
	<select id="memberAuctionSellView" resultType="auction">
		select * from auction where auction_writer=#{memberId}
	</select>
	
	<select id="auctionAttachment" resultType="attachment">
		select * from attachment where board_name=#{boardName}
	</select>
	
	<select id="memberAuctionBuyView" resultType="auction">
		select * from auction where auction_buyer=#{memberId}
	</select>
	
	<update id="ingPrice" parameterType="map">
		update auction set auction_ing_price = #{auctionIngPrice}, auction_buyer = #{auctionBuyer} where auction_no = #{auctionNo}
	</update>
	
	<update id="directPrice" parameterType="map">
		update auction set auction_ing_price = #{auctionDirectPrice}, auction_buyer = #{auctionBuyer} where auction_no = #{auctionNo}
	</update>
	
</mapper>