<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basket">
	<select id="basketView" resultType="product">
		select S.sell_no,S.sell_title,S.sell_writer,S.sell_buyer,S.sell_content,S.sell_state,S.sell_price,S.sell_date,S.sell_readcount,S.sell_deldate,S.sell_deltype,filecount from sell S join (select A.*,
		(select count(*) from basket 
		where basket_sell_no=A.basket_sell_no) filecount
		from basket A where basket_member_id=#{basketMemberId} and board_name=#{boardName} order by basket_sell_no desc) B on S.sell_no=B.basket_sell_no where B.basket_member_id=#{basketMemberId}
	</select>
	
	<select id="totalBasketCount" resultType="basket">
		select * from basket where basket_member_id=#{basketMemberId}
	</select>
	
	<insert id="basketInsert" parameterType="basket">
		insert into basket values(#{basketSellNo},#{basketMemberId},#{boardName})
	</insert>
	
	<delete id="basketDelete" parameterType="basket">
		delete from basket where basket_sell_no=#{basketSellNo} and basket_member_id=#{basketMemberId} and board_name=#{boardName}
	</delete>
	
	<select id="basketCheck" resultType="basket">
		select * from basket where basket_sell_no=#{basketSellNo} and basket_member_id=#{basketMemberId} and board_name=#{boardName}
	</select>
	
	<select id="basketAuctionView" resultType="auction">
		select A.* from auction A join (select B.*,
		(select count(*) from basket 
		where basket_sell_no=B.basket_sell_no) filecount
		from basket B where basket_member_id=#{basketMemberId} and board_name=#{boardName} order by basket_sell_no desc) B on A.auction_no=B.basket_sell_no where B.basket_member_id=#{basketMemberId} and B.board_name=#{boardName}
	</select>
	
	<select id="basketSelectCnt" resultType="basket">
		select * from basket where basket_sell_no=#{sellNo} and board_name='S'
	</select>
	
	<select id="basketSelectAuctionCnt" resultType="basket">
		select * from basket where basket_sell_no=#{auctionNo} and board_name='A'
	</select>
	
	<delete id="basketSellCompleteDelete">
		delete from basket where basket_sell_no=#{sellNo} and board_name='S'
	</delete>
	
	<delete id="basketAuctionCompleteDelete">
		delete from basket where basket_sell_no=#{auctionNo} and board_name='A'
	</delete>
</mapper>